<app-header></app-header>
<div id="body">
<div>
        <br>
        <div align="center">
        
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading"></div>
                        <div class="panel-body">
                            <p>You have been logged out. <a [routerLink]="['/login']">Login again.</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>    
<app-footer></app-footer>