#body {
    background-image: url("../../assets/background.jpg");
    height: 100vh;
    background-position: bottom ;
    background-repeat: no-repeat;
    background-size: cover;
}
div.background {
    background: url(../../assets/profile.jpg) repeat;
    border: 2px solid black;
}

div.transbox {
    margin: 30px;
    background-color: white;
    height: 75%;
    width: 50%;
    opacity: 0.8;
    filter: alpha(opacity=10); 
}

div.transbox p {
    margin: 3%;
    font-weight: bold;
    color: white;
}