<app-header></app-header>
    <div>
        <div class="container">
            <br>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="border">
                         <table style="width:980px">
                             
                        <tr>
                            <th>
                        
                            <img src="../../assets/asc1.jpg" alt="asc1" style="width:230px;height:180px;"/>
                        
                         </th>
                        
                        <th style="width:300px">
                            
                                <h3>Head-Lights</h3>
                                <h5>Price: Rs. 599</h5>
                                 </th>
                                <th style="width:200px">
                                    <h4>Detail</h4>
                                    
                                <font color="grey">* Matrix</font>
                                <br>
                                <font color="grey">* DRL</font>
                                <br>
                                <font color="grey">* White</font>
                                
                        </th>
                        <th style="width:200px">
                        <div class="border2"><p><button (click)="itemdetail('Head-Lights','Price: Rs. 599','* Matrix','* DRL','* White')" role="button" class="btn btn-primary btn-block">Buy Now</button></p></div>                    
                        </th>
                        
                        </tr>
                        </table>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="border">
                         <table style="width:980px">
                             
                        <tr>
                            <th>
                        
                            <img src="../../assets/bikerjackat.jpg" alt="asc1" style="width:230px;height:180px;"/>
                    
                         </th>
                        
                        <th style="width:300px">
                            
                                <h3>Bike-Jackets</h3>
                                <h5>Price: Rs. 1500</h5>
                                 </th>
                                <th style="width:200px">
                                    <h4>Detail</h4>
                                    
                                <font color="grey">* Light weight</font>
                                <br>
                                <font color="grey">* Elastic</font>
                                <br>
                                <font color="grey">* Elbow protectors</font>
                                
                        </th>
                        <th style="width:200px">
                        <div class="border2"><p><button (click)="itemdetail('Bike-Jackets','Price: Rs. 1500','* Light weight','* Elastic','* Elbow protectors')" role="button" class="btn btn-primary btn-block">Buy Now</button></p></div>
                        </th>
                        
                        </tr>
                        </table>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="border">
                         <table style="width:980px">
                             
                        <tr>
                            <th>
                        
                            <img src="../../assets/helmet.jpg" alt="asc1" style="width:230px;height:180px;"/>
                        
                         </th>
                        
                        <th style="width:300px">
                            
                                <h3>Helmet</h3>
                                <h5>Price: Rs. 1573</h5>
                                 </th>
                                <th style="width:200px">
                                    <h4>Detail</h4>
                                    
                                <font color="grey">* ISI approved </font>
                                <br>
                                <font color="grey">* Superior fit</font>
                                <br>
                                <font color="grey">* UV clear</font>
                                
                        </th>
                        <th style="width:200px">
                        <div class="border2"><p><button (click)="itemdetail('Helmet','Price: Rs. 1573','* ISI approved','* Superior fit','* UV clear')" role="button" class="btn btn-primary btn-block">Buy Now</button></p></div>
                        </th>
                        
                        </tr>
                        </table>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="border">
                         <table style="width:980px">
                             
                        <tr>
                            <th>
                        
                            <img src="../../assets/gloves.jpg" alt="asc1" style="width:230px;height:180px;"/>
                        
                         </th>
                        
                        <th style="width:300px">
                            
                                <h3>Gloves</h3>
                                <h5>Price: Rs. 390</h5>
                                 </th>
                                <th style="width:200px">
                                    <h4>Detail</h4>
                                    
                                <font color="grey">* Premium Quality Fabric</font>
                                <br>
                                <font color="grey">* Special Design For Better</font>
                                <br>
                                <font color="grey">* Breathable Material</font>
                                
                        </th>
                        <th style="width:200px">
                        <div class="border2"><p><button (click)="itemdetail('Gloves','Price: Rs. 390','* Premium Quality Fabric','* Special Design For Better','* Breathable Material')" role="button" class="btn btn-primary btn-block">Buy Now</button></p></div>
                        </th>
                        
                        </tr>
                        </table>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="border">
                         <table style="width:980px">
                             
                        <tr>
                            <th>
                        
                            <img src="../../assets/tire.jpg" alt="asc1" style="width:230px;height:180px;"/>
                        
                         </th>
                        
                        <th style="width:300px">
                            
                                <h3>Tire</h3>
                                <h5>Price: Rs. 7000</h5>
                                 </th>
                                <th style="width:200px">
                                    <h4>Detail</h4>
                                    
                                <font color="grey">* Superb grip</font>
                                <br>
                                <font color="grey">* Stability</font>
                                <br>
                                <font color="grey">* Steering fell</font>
                                
                        </th>
                        <th style="width:200px">
                        <div class="border2"><p><button (click)="itemdetail('Tire','Price: Rs. 7000','* Superb grip','* Stability','* Steering fell')" role="button" class="btn btn-primary btn-block">Buy Now</button></p></div>
                        </th>
                        
                        </tr>
                        </table>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="border">
                         <table style="width:980px">
                             
                        <tr>
                            <th>
                        
                            <img src="../../assets/mirror.jpg" alt="asc1" style="width:230px;height:180px;"/>
                    
                         </th>
                        
                        <th style="width:300px">
                            
                                <h3>Mirror</h3>
                                <h5>Price: Rs. 250</h5>
                                 </th>
                                <th style="width:200px">
                                    <h4>Detail</h4>
                                    
                                <font color="grey">* Highly adjustable</font>
                                <br>
                                <font color="grey">* Super stylish</font>
                                <br>
                                <font color="grey">* Anodized finish</font>
                                
                        </th>
                        <th style="width:200px">
                        <div class="border2"><p><button (click)="itemdetail('Mirror','Price: Rs. 250','* Highly adjustable','* Super stylish','* Anodized finish')" role="button" class="btn btn-primary btn-block">Buy Now</button></p></div>
                        </th>
                        
                        </tr>
                        </table>
                    </div>
                </div>
            </div> 
                    </div>
                </div>

            <br><br><br><br><br><br><br><br>
<app-footer></app-footer>