<app-header></app-header>
<div>
    <div class="container">
        <br>
         <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="border">
                     <table style="width:980px">
                         
                    <tr>
                        <th>
                         <img src="../../assets/bike1.jpeg" alt="bike1" style="width:230px;height:180px;"/>
                     </th>
                    
                    <th style="width:300px">
                        
                            <h3>kawasaki model-001</h3>
                            <h5>Price: Rs. 360000</h5>
                             </th>
                            <th style="width:200px">
                                <h4>Detail</h4>
                                
                            <font color="grey">* 109.19cc</font>
                            <br>
                            <font color="grey">* 35kmpl</font>
                            <br>
                            <font color="grey">* Petrol</font>
                            
                    </th>
                    <th style="width:200px">
                    <div class="border2"> <p></p></div>
                    </th>
                    
                    </tr>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="border">
                     <table style="width:980px">
                         
                    <tr>
                        <th>
                         <img src="../../assets/bike2.jpg" alt="bike1" style="width:230px;height:180px;"/>
                     </th>
                    
                    <th style="width:300px">
                        
                            <h3>kawasaki model-002</h3>
                            <h5>Price: Rs. 400000</h5>
                             </th>
                            <th style="width:200px">
                                <h4>Detail</h4>
                                
                            <font color="grey">* 125.19cc</font>
                            <br>
                            <font color="grey">* 45kmpl</font>
                            <br>
                            <font color="grey">* Petrol</font>
                            
                    </th>
                    <th style="width:200px">
                    <div class="border2"> <p></p></div>
                    </th>
                    
                    </tr>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="border">
                     <table style="width:980px">
                         
                    <tr>
                        <th>
                        <img src="../../assets/asc1.jpg" alt="asc1" style="width:230px;height:180px;"/>
                     </th>
                    
                    <th style="width:300px">
                        
                            <h3>Head-Lights</h3>
                            <h5>Price: Rs. 599</h5>
                             </th>
                            <th style="width:200px">
                                <h4>Detail</h4>
                                
                            <font color="grey">* Matrix</font>
                            <br>
                            <font color="grey">* DRL</font>
                            <br>
                            <font color="grey">* White</font>
                            
                    </th>
                    <th style="width:200px">
                    <div class="border2"><p></p></div>                    
                    </th>
                    
                    </tr>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="border">
                     <table style="width:980px">
                         
                    <tr>
                        <th>
                        <img src="../../assets/bikerjackat.jpg" alt="asc1" style="width:230px;height:180px;"/>
                     </th>
                    
                    <th style="width:300px">
                        
                            <h3>Bike-Jackets</h3>
                            <h5>Price: Rs. 1500</h5>
                             </th>
                            <th style="width:200px">
                                <h4>Detail</h4>
                                
                            <font color="grey">* Light weight</font>
                            <br>
                            <font color="grey">* Elastic</font>
                            <br>
                            <font color="grey">* Elbow protectors</font>
                            
                    </th>
                    <th style="width:200px">
                    <div class="border2"><p></p></div>
                    </th>
                    
                    </tr>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="border">
                     <table style="width:980px">
                         
                    <tr>
                        <th>
                        <img src="../../assets/activa.jpg" alt="scooter1" style="width:230px;height:180px;"/>
                     </th>
                    
                    <th style="width:300px">
                        
                            <h3>Honda-Activa</h3>
                            <h5>Price: Rs. 58000</h5>
                             </th>
                            <th style="width:200px">
                                <h4>Detail</h4>
                                
                            <font color="grey">* 109.19cc</font>
                            <br>
                            <font color="grey">* 55kmpl</font>
                            <br>
                            <font color="grey">* Petrol</font>
                            
                    </th>
                    <th style="width:200px">
                    <div class="border2"><p></p></div>
                    </th>
                    
                    </tr>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="border">
                     <table style="width:980px">
                         
                    <tr>
                        <th>
                        <img src="../../assets//hondadio.jpg" alt="scooter1" style="width:230px;height:180px;"/>
                     </th>
                    
                    <th style="width:300px">
                        
                            <h3>Honda-Dio</h3>
                            <h5>Price: Rs. 54000</h5>
                             </th>
                            <th style="width:200px">
                                <h4>Detail</h4>
                                
                            <font color="grey">* 124.9cc</font>
                            <br>
                            <font color="grey">* 60kmpl</font>
                            <br>
                            <font color="grey">* Petrol</font>
                            
                    </th>
                    <th style="width:200px">
                    <div class="border2"><p></p></div>
                    </th>
                    
                    </tr>
                    </table>
                </div>
            </div>
        </div>
            <br>                                                
                </div>
                    </div>
<app-footer></app-footer>