<app-header></app-header><div>
        <div class="container">
             <br>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="border">
                             <table style="width:980px">
                                 
                            <tr>
                                <th>
                                <img src="../../assets/activa.jpg" alt="scooter1" style="width:230px;height:180px;"/>
                             </th>
                            
                            <th style="width:300px">
                                
                                    <h3>Honda-Activa</h3>
                                    <h5>Price: Rs. 58000</h5>
                                     </th>
                                    <th style="width:200px">
                                        <h4>Detail</h4>
                                        
                                    <font color="grey">* 109.19cc</font>
                                    <br>
                                    <font color="grey">* 55kmpl</font>
                                    <br>
                                    <font color="grey">* Petrol</font>
                                    
                            </th>
                            <th style="width:200px">
                            <div class="border2"><p><button (click)="itemdetail('Honda-Activa','Price: Rs. 58000','* 109.19cc','* 55kmpl','* Petrol')" role="button" class="btn btn-primary btn-block">Buy Now</button></p></div>
                            </th>
                            
                            </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="border">
                             <table style="width:980px">
                                 
                            <tr>
                                <th>
                                <img src="../../assets//hondadio.jpg" alt="scooter1" style="width:230px;height:180px;"/>
                             </th>
                            
                            <th style="width:300px">
                                
                                    <h3>Honda-Dio</h3>
                                    <h5>Price: Rs. 54000</h5>
                                     </th>
                                    <th style="width:200px">
                                        <h4>Detail</h4>
                                        
                                    <font color="grey">* 124.9cc</font>
                                    <br>
                                    <font color="grey">* 60kmpl</font>
                                    <br>
                                    <font color="grey">* Petrol</font>
                                    
                            </th>
                            <th style="width:200px">
                             <div class="border2"><p><button (click)="itemdetail('Honda-Dio','Price: Rs. 54000','* 124.9cc','* 60kmpl','* Petrol')" role="button" class="btn btn-primary btn-block">Buy Now</button></p></div>
                             </th>
                            
                            </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="border">
                             <table style="width:980px">
                                 
                            <tr>
                                <th>
                                <img src="../../assets/maestro.jpg" alt="scooter1" style="width:230px;height:180px;"/>
                             </th>
                            
                            <th style="width:300px">
                                
                                    <h3>Hero-Maestro</h3>
                                    <h5>Price: Rs. 51000</h5>
                                     </th>
                                    <th style="width:200px">
                                        <h4>Detail</h4>
                                        
                                    <font color="grey">* 109.19cc</font>
                                    <br>
                                    <font color="grey">* 60kmpl</font>
                                    <br>
                                    <font color="grey">* Petrol</font>
                                    
                            </th>
                            <th style="width:200px">
                            <div class="border2"><p><button (click)="itemdetail('Hero-Maestro','Price: Rs. 51000','* 109.19cc','* 60kmpl','* Petrol')" role="button" class="btn btn-primary btn-block">Buy Now</button></p></div>
                            </th>
                            
                            </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="border">
                             <table style="width:980px">
                                 
                            <tr>
                                <th>
                            
                                <img src="../../assets/vespa.jpg" alt="scooter1" style="width:230px;height:180px;"/>
                            
                             </th>
                            
                            <th style="width:300px">
                                
                                    <h3>VESPA GTS 300 HPE TOURING</h3>
                                    <h5>Price: Rs. 70000</h5>
                                     </th>
                                    <th style="width:200px">
                                        <h4>Detail</h4>
                                        
                                    <font color="grey">* 125.9cc</font>
                                    <br>
                                    <font color="grey">* 60kmpl</font>
                                    <br>
                                    <font color="grey">* Petrol</font>
                                    
                            </th>
                            <th style="width:200px">
                            <div class="border2"><p><button (click)="itemdetail('VESPA GTS 300 HPE TOURING','Price: Rs. 70000','* 125.9cc','* 60kmpl','* Petrol')" role="button" class="btn btn-primary btn-block">Buy Now</button></p></div>
                            </th>
                            
                            </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="border">
                             <table style="width:980px">
                                 
                            <tr>
                                <th>
                            <a href="">
                                <img src="../../assets/jupiter.jpg" alt="scooter1" style="width:230px;height:180px;"/>
                            </a>
                             </th>
                            
                            <th style="width:300px">
                                
                                    <h3>TVS Jupiter GRAND</h3>
                                    <h5>Price: Rs. 65000</h5>
                                     </th>
                                    <th style="width:200px">
                                        <h4>Detail</h4>
                                        
                                    <font color="grey">* 130.9cc</font>
                                    <br>
                                    <font color="grey">* 55kmpl</font>
                                    <br>
                                    <font color="grey">* Petrol</font>
                                    
                            </th>
                            <th style="width:200px">
                            <div class="border2"><p><button (click)="itemdetail('TVS Jupiter GRAND','Price: Rs. 65000','* 130.9cc','* 55kmpl','* Petrol')" role="button" class="btn btn-primary btn-block">Buy Now</button></div>
                            </th>
                            
                            </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="border">
                             <table style="width:980px">
                                 
                            <tr>
                                <th>
                                <img src="../../assets/aprilia.jpg" alt="scooter1" style="width:230px;height:180px;"/>
                             </th>
                            
                            <th style="width:300px">
                                
                                    <h3>Aprilia SR 150</h3>
                                    <h5>Price: Rs. 75056</h5>
                                     </th>
                                    <th style="width:200px">
                                        <h4>Detail</h4>
                                        
                                    <font color="grey">* 150.9cc</font>
                                    <br>
                                    <font color="grey">* 40kmpl</font>
                                    <br>
                                    <font color="grey">* Petrol</font>
                                    
                            </th>
                            <th style="width:200px">
                            <div class="border2"><p><button (click)="itemdetail('Aprilia SR 150','Price: Rs. 75056','* 150.9cc','* 40kmpl','* Petrol')" role="button" class="btn btn-primary btn-block">Buy Now</button></p></div>
                            </th>
                            
                            </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<br><br><br><br><br><br><br><br>
<app-footer></app-footer>