<app-header></app-header>
    <div>
    <div class="container">
        <br>
         <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="border">
                     <table style="width:980px">
                         
                    <tr>
                        <th>
                    <a href="">
                         <img src="../../assets/bike1.jpeg" alt="bike1" style="width:230px;height:180px;"/>
                    </a>
                     </th>
                    
                    <th style="width:300px">
                        
                            <h3>kawasaki model-001</h3>
                            <h5>Price: Rs. 3,60,000</h5>
                             </th>
                            <th style="width:200px">
                                <h4>Detail</h4>

                            <font color="grey">* 109.19cc</font>
                            <br>
                            <font color="grey">* 35kmpl</font>
                            <br>
                            <font color="grey">* Petrol</font>
                            
                    </th>
                    <th style="width:200px">
                    <div class="border2"><p><button (click)="itemdetail('kawasaki model-001','Price: Rs. 360000','*109.19cc','*35kmpl','*Petrol')" role="button" class="btn btn-primary btn-block" >Buy Now</button></p></div>
                    </th>
                    </tr>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="border">
                     <table style="width:980px">
                         
                    <tr>
                        <th>
                    
                         <img src="../../assets/bike2.jpg" alt="bike1" style="width:230px;height:180px;"/>
                    
                     </th>
                    
                    <th style="width:300px">
                        
                            <h3>kawasaki model-002</h3>
                            <h5>Price: Rs. 4,00,000</h5>
                             </th>
                            <th style="width:200px">
                                <h4>Detail</h4>
                                
                            <font color="grey">* 125.19cc</font>
                            <br>
                            <font color="grey">* 45kmpl</font>
                            <br>
                            <font color="grey">* Petrol</font>
                            
                    </th>
                    <th style="width:200px">
                    <div class="border2"> <p><button (click)="itemdetail('kawasaki model-002','Price: Rs. 4,00,000','* 125.19cc','* 45kmpl','* Petrol')" role="button" class="btn btn-primary btn-block">Buy Now</button></p></div>
                    </th>
                    
                    </tr>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="border">
                     <table style="width:980px">
                         
                    <tr>
                        <th>
                    
                         <img src="../../assets/bike3.jpg" alt="bike1" style="width:230px;height:180px;"/>
                    
                     </th>
                    
                    <th style="width:300px">
                        
                            <h3 #model3>BMW Model-A3</h3>
                            <h5 #price3>Price: Rs. 25,00,000</h5>
                             </th>
                            <th style="width:200px">
                                <h4>Detail</h4>
                                
                            <font #detail7 color="grey">* 100cc</font>
                            <br>
                            <font #detail8 color="grey">* 30kmpl</font>
                            <br>
                            <font #detail9 color="grey">* Petrol</font>
                            
                    </th>
                    <th style="width:200px">
                    <div class="border2"> <p><button (click)="itemdetail('BMW Model-A3','Price: Rs. 25,00,000','* 100cc','* 30kmpl','* Petrol')" role="button" class="btn btn-primary btn-block">Buy Now</button></p></div>
                    </th>
                    
                    </tr>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="border">
                     <table style="width:980px">
                         
                    <tr>
                        <th>
                    
                         <img src="../../assets/bike4.jpg" alt="bike1" style="width:230px;height:180px;"/>
                    
                     </th>
                    
                    <th style="width:300px">
                        
                            <h3>Honda-A400</h3>
                            <h5>Price: Rs. 8,00,000</h5>
                             </th>
                            <th style="width:200px">
                                <h4>Detail</h4>
                                
                            <font color="grey">* 150.19cc</font>
                            <br>
                            <font color="grey">* 40kmpl</font>
                            <br>
                            <font color="grey">* Petrol</font>
                            
                    </th>
                    <th style="width:200px">
                    <div class="border2"><p><button (click)="itemdetail('Honda-A400','Price: Rs. 8,00,000','* 150.19cc','* 40kmpl','* Petrol')" role="button" class="btn btn-primary btn-block">Buy Now</button></p></div>
                    </th>
                    
                    </tr>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="border">
                     <table style="width:980px">
                         
                    <tr>
                        <th>
                         <img src="../../assets/bike5.jpg" alt="bike1" style="width:230px;height:180px;"/>
                     </th>
                    
                    <th style="width:300px">
                        
                            <h3>KTM-1223</h3>
                            <h5>Price: Rs. 1,30,000</h5>
                             </th>
                            <th style="width:200px">
                                <h4>Detail</h4>
                                
                            <font color="grey">* 130.19cc</font>
                            <br>
                            <font color="grey">* 45kmpl</font>
                            <br>
                            <font color="grey">* Petrol</font>
                            
                    </th>
                    <th style="width:200px">
                    <div class="border2"> <p><button (click)="itemdetail('KTM-1223','Price: Rs. 1,30,000','* 130.19cc','* 45kmpl','* Petrol')" role="button" class="btn btn-primary btn-block">Buy Now</button></p></div>
                    </th>
                    
                    </tr>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="border">
                     <table style="width:980px">
                         
                    <tr>
                        <th>
                         <img src="../../assets/bike6.jpg" alt="bike1" style="width:230px;height:180px;"/>
                     </th>
                    
                    <th style="width:300px">
                        
                            <h3>Ducati-D0N1</h3>
                            <h5>Price: Rs. 30,00,000</h5>
                             </th>
                            <th style="width:200px">
                                <h4>Detail</h4>
                                
                            <font color="grey">* 124.19cc</font>
                            <br>
                            <font color="grey">* 50kmpl</font>
                            <br>
                            <font color="grey">* Petrol</font>
                            
                    </th>
                    <th style="width:200px">
                    <div class="border2"> <p><button (click)="itemdetail('Ducati-D0N1','Price: Rs. 30,00,000','* 124.19cc','* 50kmpl','* Petrol')" role="button" class="btn btn-primary btn-block">Buy Now</button></p></div>
                    </th>
                    
                    </tr>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="border">
                     <table style="width:980px">
                         
                    <tr>
                        <th>
                         <img src="../../assets/bike7.jpg" alt="bike1" style="width:230px;height:180px;"/>
                     </th>
                    
                    <th style="width:300px">
                        
                            <h3>YAMAHA-Y00N1</h3>
                            <h5>Price: Rs. 8,00,000</h5>
                             </th>
                            <th style="width:200px">
                                <h4>Detail</h4>
                                
                            <font color="grey">* 129.19cc</font>
                            <br>
                            <font color="grey">* 35kmpl</font>
                            <br>
                            <font color="grey">* Petrol</font>
                            
                    </th>
                    <th style="width:200px">
                    <div class="border2"> <p><button (click)="itemdetail('YAMAHA-Y00N1','Price: Rs. 8,00,000','* 129.19cc','* 35kmpl','* Petrol')" role="button" class="btn btn-primary btn-block">Buy Now</button></p></div>
                    </th>
                    
                    </tr>
                    </table>
                </div>
            </div>
        </div>
                                                              
                </div>
            </div>
        <br><br><br><br><br><br><br><br>
<app-footer></app-footer>